
body {
    font-family: 'Roboto';
    margin: 0;
    display: flex;
    flex-direction: column;
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}
.header {
    background-color: #1f2937;
    font-family: 'Roboto';
}
.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
.hero-secondary,
a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.top-row {
    padding: 10px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero {
    padding: 0px 200px 18px;
    display: flex;
    justify-content: space-between;
}
.penguin {
    height: auto;
    width: auto;
    border: none;
}
img {
    flex-grow: 0;
    border: 5px solid #3882f6;
    border-radius: 1em;
    height: 100px;
    width: 100px;
}
button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 10%;
    padding: 2px 12px;
    margin: 10px 0px;
}
.second-row {
    padding: 10px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second-row-list {
    display: flex;
}
.third-row {
    display: flex;
    flex-direction: column;
    padding: 10px 200px;
    background-color: #e5e7eb;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.quoted-person {
    align-self: flex-end;
    font-weight: 700;
}
.bottom-row {
    margin: 50px 200px;
    padding: 25px 50px;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
